.homeWrap> .content {
  height: calc(100vh - 60px - 8vh);
  box-sizing: border-box;
  padding-top: 20px;
  display: flex;
}
.homeWrap> .content .itemWrap {
  background: #ffffff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  overflow: hidden;
}
.homeWrap> .content .left {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}
.homeWrap> .content .left .module1 {
  width: 100%;
  height: 26vh;
  display: flex;
  flex-direction: column;
}
.homeWrap> .content .left .module1 .schoolBg {
  height: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeWrap> .content .left .module1 .schoolBg img {
  max-width: 100%;
}
.homeWrap> .content .left .module1 > p {
  text-align: center;
  font-size: 2rem;
  color: #343434;
  margin: 25px 0;
}
.homeWrap> .content .left .module1 .classInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeWrap> .content .left .module1 .classInfo > p {
  margin: 0 20px;
}
.homeWrap> .content .left .module1 .classInfo > div {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.homeWrap> .content .left .module1 .classInfo > div p {
  margin: 0;
  padding: 0;
}
.homeWrap> .content .left .module1 .classInfo > div p:nth-child(1) {
  color: #666666;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 5px;
}
.homeWrap> .content .left .module1 .classInfo > div p:nth-child(2) {
  text-align: center;
  color: #343434;
  font-size: 1.4rem;
}
.homeWrap> .content .left .module2 {
  flex: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.homeWrap> .content .left .module2 .head {
  background: linear-gradient(180deg, #0375e7 0%, #0439bb 100%);
  font-size: 2.5rem;
  text-align: center;
  height: 10vh;
  line-height: 10vh;
  color: #ffffff;
}
.homeWrap> .content .left .module2 .foot {
  flex: 1;
  overflow: auto;
}
.homeWrap> .content .left .module2 .foot .item:nth-child(1) {
}
.homeWrap> .content .left .module2 .foot .item {
  display: flex;
  border-bottom: 1px solid #EEEEEE;
  padding: 10px 0;
}
.homeWrap> .content .left .module2 .foot .item p {
  width: 50%;
  text-align: center;
  color: #343434;
  font-size: 1.4rem;
}
.homeWrap> .content .left .module2 .foot .item:nth-child(1) p {
  color: #2B62F1;
  font-size: 1.4rem;
}
.homeWrap> .content .right {
  width: 75%;
  height: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.homeWrap> .content .right > .top {
  height: 49vh;
  display: flex;
}
.homeWrap> .content .right > .top .module3 {
  margin-right: 20px;
  box-sizing: border-box;
  width: 43%;
  display: flex;
  flex-direction: column;
}
.homeWrap> .content .right > .top .module3 .classImg {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeWrap> .content .right > .top .module3 .classImg img {
  min-width: 100%;
  min-height: 100%;
}
.homeWrap> .content .right > .top .module3 .classText {
  height: 7vh;
  line-height: 7vh;
  font-size: 2.5rem;
  background: linear-gradient(180deg, #0372e5 0%, #043ec0 100%);
  text-align: center;
  color: #ffffff;
}
.homeWrap> .content .right > .top .module4 {
  margin-right: 20px;
  box-sizing: border-box;
  width: 24%;
  display: flex;
  flex-direction: column;
}
.homeWrap> .content .right > .top .module4 .head {
  background: linear-gradient(180deg, #0375e7 0%, #0439bb 100%);
  font-size: 2.5rem;
  text-align: center;
  height: 10vh;
  line-height: 10vh;
  color: #ffffff;
}
.homeWrap> .content .right > .top .module4 .foot {
  flex: 1;
  overflow: auto;
}
.homeWrap> .content .right > .top .module4 .foot .item {
  display: flex;
  color: #343434;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #EEEEEE;
  font-size: 1.2rem;
}
.homeWrap> .content .right > .top .module4 .foot .item p {
  flex: 1;
  font-size: 1.2rem;
}
.homeWrap> .content .right > .top .module4 .foot .item img {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  overflow: hidden;
  margin: 0 20px;
}
.homeWrap> .content .right > .top .module5 {
  flex: 1;
  background: url("../assets/bg@2x.png") center no-repeat;
  display: flex;
  flex-direction: column;
}
.homeWrap> .content .right > .top .module5 .top {
  height: 8vh;
  color: #ffffff;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeWrap> .content .right > .top .module5 .top img {
  max-height: 7vh;
}
.homeWrap> .content .right > .top .module5 .change {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeWrap> .content .right > .top .module5 .change > div {
  border: 1px solid #ffffff;
  width: 28%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  font-size: 1.2rem;
}
.homeWrap> .content .right > .top .module5 .change > .divActive {
  background: #FF4930;
  border: 1px solid #FF4930;
}
.homeWrap> .content .right > .top .module5 .change > div:nth-child(1) {
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.homeWrap> .content .right > .top .module5 .change > div:nth-child(2) {
  border-left: none;
  border-radius: 0 5px 5px 0;
}
.homeWrap> .content .right > .top .module5 .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.homeWrap> .content .right > .top .module5 .content .item {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 5px 20px;
  box-sizing: border-box;
  background: #FE8A8A;
  margin: 0 40px 10px;
  border-radius: 10px;
}
.homeWrap> .content .right > .top .module5 .content .item img {
  width: 40px;
  margin-right: 10px;
}
.homeWrap> .content .right > .top .module5 .content .item p {
  flex: 1;
  font-size: 1.2rem;
}
.homeWrap> .content .right > .top .module5 .content .item span {
  width: 15%;
}
.homeWrap> .content .right > .top .module5 .content .item:nth-child(1) {
  background: #F1D04A;
}
.homeWrap> .content .right > .top .module5 .content .item:nth-child(2) {
  background: #FFC77E;
}
.homeWrap> .content .right > .top .module5 .content .item:nth-child(3) {
  background: #F8D0A3;
}
.homeWrap> .content .right > .foot {
  flex: 1;
  display: flex;
  padding-top: 20px;
}
.homeWrap> .content .right > .foot .module6 {
  margin-right: 20px;
  box-sizing: border-box;
  width: 43%;
  background: url("../assets/bg_dongtai @2x.png") center no-repeat;
  padding: 50px 50px 10px 50px;
  display: flex;
  flex-direction: column;
}
.homeWrap> .content .right > .foot .module6 .head {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 20px;
}
.homeWrap> .content .right > .foot .module6 .head img {
  padding-right: 20px;
}
.homeWrap> .content .right > .foot .module6 .content {
  overflow: auto;
  flex: 1;
  color: #ffffff;
  font-size: 1.4rem;
}
.homeWrap> .content .right > .foot .module6 .foot {
  height: 100px;
}
.homeWrap> .content .right > .foot .module6 .foot p {
  text-align: right;
  color: #ffffff;
}
.homeWrap> .content .right > .foot .module7 {
  margin-right: 20px;
  box-sizing: border-box;
  width: 22%;
}
.homeWrap> .content .right > .foot .module7 img {
  width: 100%;
  height: 100%;
}
.homeWrap> .content .right > .foot .module8 {
  flex: 1;
  background: url("../assets/bg_tianqi@2x.png") center no-repeat;
  background-size: 100% 100%;
}
.homeWrap> .content .right > .foot .module8 > div {
  padding: 0 40px;
  box-sizing: border-box;
}
.homeWrap> .content .right > .foot .module8 > div:nth-child(1) {
  height: 50%;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  font-size: 5rem;
  vertical-align: bottom;
  align-items: center;
}
.homeWrap> .content .right > .foot .module8 > div:nth-child(1) img {
  height: 100px;
  width: auto;
}
.homeWrap> .content .right > .foot .module8 > div:nth-child(2),
.homeWrap> .content .right > .foot .module8 div:nth-child(3) {
  margin: 20px 0;
  color: #0B6CA1;
  display: flex;
  font-size: 1.6rem;
}
.homeWrap> .content .right > .foot .module8 > div:nth-child(2) span,
.homeWrap> .content .right > .foot .module8 div:nth-child(3) span {
  color: #A3A29E;
  padding: 0 10px;
}


.imgModuleWrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.imgModuleWrap > img {
  max-width: 70%;
  max-height: 70%;
}

.evaluateModule {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.evaluateModule .backBut {
  position: absolute;
  right: 5vw;
  bottom: 5vw;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 2rem;
}
.evaluateModule .backBut img {
  width: 70px;
}
.evaluateModule .content {
  width: 70vw;
  height: 70vh;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
}
.evaluateModule .content .head {
  width: 100%;
  height: 100px;
  margin: 1px;
  background: linear-gradient(153deg, #49a0ff 0%, #3b97fd 0%, #4176e9 100%);
  font-size: 2rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.evaluateModule .content .selectTeacher {
  flex: 1;
  display: none;
}
.evaluateModule .content .selectTeacher .item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #B5B5B5;
}
.evaluateModule .content .selectTeacher .item img {
  width: 64px;
}
.evaluateModule .content .selectTeacher .item .noActive {
  width: 30px;
  height: 30px;
  border: 1px dashed #cccccc;
}
.evaluateModule .content .selectTeacher .item .active {
  width: 30px;
  height: 30px;

  background: url("../assets/icon_gou.png") center no-repeat;
}
.evaluateModule .content .selectTeacher .item p {
  color: #343434;
  font-size: 1.4rem;
}
.evaluateModule .content .selectTeacher .item:nth-last-child(1) {
  border-bottom: none;
}
.evaluateModule .content .inputPassword {
  height: 50%;
  display: none;
  justify-content: center;
  align-items: center;
}
.evaluateModule .content .inputPassword input {
  width: 80%;
  height: 100px;
  background: #979797;
  font-size: 3rem;
  color: #ffffff;
}
.evaluateModule .content .sure {
  background: linear-gradient(180deg, #0375e7 0%, #0439bb 100%);
  width: 294px;
  height: 88px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ffffff;
}

#weekRank {
  display: flex;
}
#mouthRank {
  display: none;
}
